<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width = device-width, initial-scale = 1.0"
        />
        <title>About Mtume Sings</title>
    </head>

    <body>
        <h1>About Mtume Sings</h1>
        <p>
            <div name="Mtume_Sings">
                <br>Mtume Sings is a music website that showcases the music of Mtume.</br>
                <br>Mtume sings in a variety of genres, including R&B, jazz, and pop.</br>
                <br>Mtume can also convert your lyrics into a song. Stay tuned for more.</br>
            </div>
        </p>
    </body>
</html>
