<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width = device-width, initial-scale = 1.0"
        />
        <title>Error</title>
    </head>

    <body>
        <script src="/static/js/error.js"></script>
        <h1>Error</h1>
        {% if error_name %}

        <p>Sorry, there was an error: <b>{{ error_name }}</b></p>
        <br>Redirecting...</br>
        <script>redirect();</script>

        {% else %}
        <script>window.location.href = "/";</script>

        {% endif %}

    </body>
</html>
