<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width = device-width, initial-scale = 1.0"
        />
        <title>Success</title>
    </head>

    <body>
        <script src="/static/js/success.js"></script>

        <div name="Success">
            <p>Your song is ready to be downloaded!</p>
            <a href="/voice_files/{{ filename }}.mp3" onclick="redirect()"
                >Download your song</a
            >
        </div>

        <div name="Return_Back">
            <button onclick="go_back_page()">Return to the homepage</button>
        </div>
    </body>
</html>
